URL:
  COMPUTE: "https://example.com:8774/v2.1"
  IDENTITY: "https://example.com:5000/v3"

AUTH:
  USER:
    ID: "<user_uuid>"
    PASSWORD: "<user_pass>"
  DOMAIN:
    ID: "<domain_uuid>"
  PROJECT:
    NAME: "<project_name>"

# [NOTE]
# NETWORKS[0] is used for ssh connection
NETWORKS:
  - NAME: "network_name"
    ID: "<net_uuid>"
  - NAME: "<network_name>"
    ID: "<net_uuid>"

KEY_NAME: "<key_name>"
GROUP_NAME: "<group_name>"
